<div class="h-screen flex justify-center items-center mx-auto" style="width: 600px;">
    <div class="flex flex-col gap-3 w-full">
      <input class="py-2 px-4 border rounded" type="text" placeholder="Email" #userName required />
      <input class="py-2 px-4 border rounded" type="password" placeholder="Password" #userPassword required />
      <input class="py-2 px-4 border rounded"
        type="button"
        value="Log in"
        (click)="authService.SignIn(userName.value, userPassword.value)"
      />
      <app-button type="button" (click)="authService.GoogleAuth()">
        Log in with Google
      </app-button>
      <app-button routerLink="/forgot-password">Forgot Password?</app-button>
      <app-button routerLink="/register-user"> Sign Up </app-button>
    </div>
</div>
