<div class="flex flex-col gap-3">
  <div
    class="flex justify-center items-center gap-3 m-10 border p-4 rounded flex-wrap"
  >
    <div>
      <label for="query">Query: </label>
      <input
        #queryRef
        class="py-2 px-4 border rounded"
        id="query"
        type="text"
        [formControl]="query"
      />
    </div>
    <div>
      <label for="query">Number of questions (max 30): </label>
      <input
        #numRef
        min="1"
        max="30"
        class="py-2 px-4 border rounded"
        id="numQuestions"
        type="number"
        [formControl]="numQuestions"
      />
    </div>
    <app-button
      type="button"
      [disabled]="!searchEnabled()"
      (click)="searchEnabled() ? search() : null"
      >Search
    </app-button>
  </div>
  <div>
    <app-article-card
      *ngFor="let article of articles"
      [article]="article"
    ></app-article-card>
  </div>
</div>
