<div class="w-full h-screen flex justify-center">
  <div class="h-full flex justify-center items-center" style="width: 600px">
    <div class="flex flex-col gap-3 w-full">
      <h3 class="text-center text-4xl">Reset Password</h3>
      <p class="text-center">
        Please enter your email address to request a password reset.
      </p>

      <input
        type="email"
        class="py-2 px-4 border rounded"
        placeholder="Email Address"
        #passwordResetEmail
        required
      />

      <app-button
        (click)="authService.ForgotPassword(passwordResetEmail.value)"
      >
        Reset password
      </app-button>

      <app-button routerLink="/sign-in">Go to Sign in</app-button>
    </div>
  </div>
</div>
