<nav class="p-4 flex">
  <div class="flex gap-1">
    <app-button routerLink="">Home</app-button>
    <app-button [disabled]="!authService.isLoggedIn" (click)="goToArticles()">
      Generate
    </app-button>
  </div>
  <div class="grow flex justify-end items-center gap-3">
    <img
      src="assets/contrast-icon.png"
      alt="contrast-icon"
      class="contrast-icon"
      width="45"
      [attr.class]="inverted ? 'inverted' : ''"
      (click)="contrastService.toggleContrast()"
    />

    <app-button *ngIf="!authService.isLoggedIn" routerLink="/sign-in">
      Sign In
    </app-button>
    <div *ngIf="authService.isLoggedIn" routerLink="/dashboard">
      <app-user-image [size]="40" class="cursor-pointer"></app-user-image>
    </div>
  </div>
</nav>
