<nav class="p-4 flex">
  <ul>
    <li *ngFor="let route of navRoutes; let i = index">
      <app-button routerLink="{{ '/' + route }}">{{ navLabels[i] }}</app-button>
    </li>
  </ul>
  <div class="grow flex justify-end items-center">
    <app-button *ngIf="!authService.isLoggedIn" routerLink="/sign-in">
      Sign In
    </app-button>
    <div
      *ngIf="authService.isLoggedIn"
      class="dashboard-link"
      routerLink="/dashboard"
    >
      <app-user-image [size]="30" class="mr-3"></app-user-image>
      <span>
        {{
          authService.userData.displayName
            ? authService.userData.displayName
            : authService.userData.email
        }}
      </span>
    </div>
  </div>
</nav>
