<div class="flex flex-col gap-3 items-center justify-center h-screen">
  <ng-container *ngIf="authService.userData as user">
    <app-user-image [size]="100"></app-user-image>
    <h1>
      <strong>{{ user.displayName ? user.displayName : user.email }}</strong>
    </h1>
    <p>
      User ID: <strong>{{ user.uid }}</strong>
    </p>
    <p>
      Email: <strong>{{ user.email }}</strong>
    </p>
    <p>
      Email Verified: <strong>{{ user.emailVerified }}</strong>
    </p>
    <app-button (click)="authService.SignOut()">Log out</app-button>
  </ng-container>
</div>
